@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        作物病蟲害預警系統暨植物醫師診斷系統管理平台
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/css/vnstyle.css" rel="stylesheet" />

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <link href="~/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <!-- jQuery-->
    <script src="~/Scripts/jquery-3.6.3.min.js"></script>
    @*jquery.validate套件 用於前端表單驗證*@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <!-- Sweetalert2 -->
    <script src="~/Scripts/sweetalert2/sweetalert2.min.js"></script>

    <!-- Theme initialization -->
    <!-- Theme initialization -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous" />
    <style>
        .form-control.error {
            border-color: red;
            border-width: 2px;
            font-size: 1rem;
            width: 100%;
        }

        .form-inline .form-control.error {
            width: auto;
        }

        label.error {
            bottom: -30px;
            color: red;
            font-size: 14px;
            justify-content: flex-start;
            position: absolute;
        }

        .form-inline label.error {
            bottom: -20px;
        }

        .error-border {
            border-color: red;
            border-width: 2px;
        }
    </style>
</head>
<body class="bg-card">
    <div class="container-fulid">
        <!-- Outer Row -->
        <div class="row vh-100 ">
            <div class="col-lg-8 p-0 h-100vh d-flex justify-content-center auth-bg-rwd auth-bg order-lg-2"></div>
            <div class="col-lg-4 pr-0 order-lg-1">
                <div class="auth-page h-100">
                    <div class="px-4 h-100 d-flex flex-column">
                        <div class="text-center">
                            <div class="tag-icon"></div>
                            <h1 class="h4 text-gray-900 logo-text">高雄市政府農業局</h1>
                            <p class="op-4 logo-e">Agriculture Bureau of Kaohsiung City Government</p>
                            <h3 class="title-text">作物病蟲害預警系統<br>暨植物醫師診斷系統管理平台</h3>
                        </div>
                        <div class="auth-content">
                            <br />
                            <br />
                            <h2 class="text-center">忘記密碼</h2>
                            <br />
                            <h5>請輸入您公務用信箱email進行驗證，送出後請稍後5分</h5>
                            <h5>鐘後至您的信箱收信，以利重新設定您的登入密碼!</h5>

                            <form id="form" method="post" class="mt-2">
                                @Html.AntiForgeryToken()
                                <div class="form-inline">
                                    <label for="username" style="width: 100px;">Email</label>
                                    <div class="d-flex flex-column position-relative ml-2">
                                        <input type="email" name="Email" class="form-control" value="@Model.Email" />
                                    </div>
                                </div>
                                <div class="form-inline mt-2">
                                    <label for="username" style="width: 100px;">驗證碼</label>
                                    <div class="form-inline ml-2">
                                        <figure class="mr-2 mt-2 mb-2">
                                            <img id="verifyimage" src="/Login/GetValidateCodeImage" href="#" onclick="Refresh_ValidateCode()" title="刷新驗證碼">
                                        </figure>
                                        <div class="d-flex flex-column position-relative">
                                            <input type="text" class="form-control" name="VerifyCode" value="@Model.VerifyCode" placeholder="請輸入驗證碼" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center mt-2">
                                    <button type="button" class="btn btn-primary" style="width: 148px;" onclick="location.href = '/Login/Index'">返回</button>
                                    <button type="submit" class="btn btn-primary ml-2" style="width: 148px;">送出</button>
                                </div>

                                
                            </form>
                        </div>
                        <div class="login-footer mt-auto">
                            Copyright©2021 作物病蟲害預警系統暨植物醫師診斷系統管理平台  版權所有
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        //頁面
        $(document).ready(function () {
            $('#form').validate({
                rules: {
                    "Email": {
                        required: true,
                        email: true
                    },
                    "VerifyCode": {
                        required: true
                    },
                },
                messages: {
                    "Email": {
                        required: "請輸入信箱",
                        email: "信箱格式不正確",
                    },
                    "VerifyCode": {
                        required: "請輸入驗證碼"
                    },
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

            let error = '@(TempData["Error"])';
            let title = '@(TempData["Title"])';
            if (error) {
                Swal.fire({
                    icon: 'error',
                    title: title
                })
            }
        });
        //重新整理驗證碼
        function Refresh_ValidateCode() {
            document.getElementById('verifyimage').src = '/Login/GetValidateCodeImage?' + Math.random();
        }
        //偵測Enter事件 提交
        function submitenter(myfield, e) {
            var keycode;
            if (window.event) keycode = window.event.keyCode;
            else if (e) keycode = e.which;
            else return true;
            if (keycode == 13) {
                DoSubmit();
                return false;
            }
            else {
                return true;
            }
        }
    </script>
</body>
</html>