@model ICCModule.Entity.Tables.sysUserInfo
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        作物病蟲害預警系統暨植物醫師診斷系統管理平台
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/css/vnstyle.css" rel="stylesheet" />

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <link href="~/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <!-- jQuery-->
    <script src="~/Scripts/jquery-3.6.3.min.js"></script>
    @*jquery.validate套件 用於前端表單驗證*@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <!-- Sweetalert2 -->
    <script src="~/Scripts/sweetalert2/sweetalert2.min.js"></script>

    <!-- Theme initialization -->
    <!-- Theme initialization -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous" />
    <style>
        .form-control.error {
            border-color: red;
            border-width: 2px;
            font-size: 1rem;
            width: 100%;
        }

        .form-inline .form-control.error {
            width: auto;
        }

        label.error {
            bottom: -30px;
            color: red;
            font-size: 14px;
            justify-content: flex-start;
            position: absolute;
        }

        .form-inline label.error {
            bottom: -20px;
        }

        .error-border {
            border-color: red;
            border-width: 2px;
        }
    </style>
</head>
<body class="bg-card">
    <div class="container-fulid">
        <!-- Outer Row -->
        <div class="row vh-100 ">
            <div class="col-lg-8 p-0 h-100vh d-flex justify-content-center auth-bg-rwd auth-bg order-lg-2"></div>
            <div class="col-lg-4 pr-0 order-lg-1">
                <div class="auth-page h-100">
                    <div class="px-4 h-100 d-flex flex-column">
                        <div class="text-center">
                            <div class="tag-icon"></div>
                            <h1 class="h4 text-gray-900 logo-text">高雄市政府農業局</h1>
                            <p class="op-4 logo-e">Agriculture Bureau of Kaohsiung City Government</p>
                            <h3 class="title-text">作物病蟲害預警系統<br>暨植物醫師診斷系統管理平台</h3>
                        </div>
                        <div class="auth-content">
                            <h3 class="text-center">
                                <span class="line">重設密碼</span>
                            </h3>
                            <div class="card">
                                <div class="card-body">
                                    <div style="text-align:left">
                                        <div class="mb-3">請重新設定您的登入密碼，以下為密碼原則：</div>
                                        <div class="mb-2">
                                            1.密碼長度：最少8字元以上，最多20字元
                                            <br />
                                            2.密碼限制：英文大寫小寫、特殊符號或數字三種以上組合
                                            <br />
                                            3.密碼不可與前 3 次相同（三代）
                                            <br />
                                            4.每90天應更換1次密碼，要求於到期後第1次登入須立即更改密碼
                                            <br />
                                            5.累計輸入密碼錯誤超過3次之後，鎖定該帳號。
                                            <br />
                                            6.帳號鎖定15分鐘之後即可再次輸入帳號密碼登入。
                                        </div>
                                        <div style="font-size:14px">
                                            @(Model.UserName)您好，請立即重新設定您的登入密碼!
                                            <br />
                                            會員帳號：@Model.LoginID
                                        </div>
                                    </div>
                                    <table class="table rwd-table">
                                        <tbody>
                                            @using (Html.BeginForm())
                                            {
                                                @Html.AntiForgeryToken()
                                                <tr>
                                                    <th>
                                                        <span class="important">新密碼</span>
                                                    </th>
                                                    <td>
                                                        <div class="form-inline position-relative">
                                                            @Html.Hidden("LoginID", Model.LoginID)
                                                            @Html.Password("NewPwd", "", new { @class = "form-control mr-2" })
                                                            <div class="position-absolute" style="cursor: pointer; padding: 4px 10px; top: 0; right: 0;">
                                                                <i class="far fa-eye" id="font-awesome-NewPwd" onclick="showpwd('NewPwd')"></i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <span class="important">再次輸入新密碼</span>
                                                    </th>
                                                    <td>
                                                        <div class="form-inline position-relative">
                                                            @Html.Password("ConfirnPwd", "", new { @class = "form-control mr-2" })
                                                            <div class="position-absolute" style="cursor: pointer; padding: 4px 10px; top: 0; right: 0;">
                                                                <i class="far fa-eye" id="font-awesome-ConfirnPwd" onclick="showpwd('ConfirnPwd')"></i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" style="text-align:center">
                                                        <a class="btn btn-secondary" onclick="location.href='/'">返回首頁</a>
                                                        <button type="submit" class="btn btn-orange mr-2 mb-3 mt-3">變更密碼</button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="login-footer mt-auto">
                            Copyright©2021 作物病蟲害預警系統暨植物醫師診斷系統管理平台  版權所有
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        //秀密碼
        function showpwd(x) {
            var inputbox = "#" + x;
            var font = "#font-awesome-" + x;
            if ($(inputbox)[0].type == 'password') {
                $(inputbox)[0].type = 'text'
                $(font).removeClass('far fa-eye')
                $(font).addClass('far fa-eye-slash')
            }
            else {
                $(inputbox)[0].type = 'password'
                $(font).removeClass('far fa-eye-slash')
                $(font).addClass('far fa-eye')
            }
        }
    </script>
    <!-- 功能執行警示結果 -->
    @{
        string strTempMsg = (TempData["TempMsg"] == null) ? "" : TempData["TempMsg"].ToString();
        TempData["TempMsg"] = null;
        //取代換行
        strTempMsg = strTempMsg.Replace("\r\n", " ");
        strTempMsg = strTempMsg.Replace("\n", " ");
    }
    <script type="text/javascript">
        var sMessage = "@strTempMsg";
        $(document).ready(function () {
            if (sMessage.length > 0) {
                Swal.fire({
                    icon: 'info',
                    title: sMessage
                });
            }
        });
    </script>
</body>
</html>


