@model List<ICCModule.Entity.Tables.Platform.controlHistory>
@{
    ViewBag.Title = "CalendarList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-success">防治曆</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 bg-white">
                    <div class="card-body">
                        <div style="display:flex">
                            <div style="margin-left:auto">
                                <button type="button" class="btn btn-primary m-2" onclick="location.href='/PlantManager/CalendarInfo'"><i class="fas fa-plus-circle mr-2"></i>新增防治對象</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table mb-0 table-striped" style="min-width:700px;">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">防治對象</th>
                                        <th scope="col">類型</th>
                                        <th scope="col">狀態</th>
                                        <th scope="col">動作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Type</td>
                                            <td>@(item.Enable?"啟用":"停用")</td>
                                            <td>
                                                <div class="form-inline">
                                                    <button type="button" class="btn btn-danger m-2" onclick="location.href='/PlantManager/CalendarInfo?id=' + @item.ID">編輯</button>
                                                    @using (Html.BeginForm("CalendarDelete", "PlantManager", FormMethod.Post, new { onclick = "return confirm('確定刪除?');" }))
                                                    {
                                                        @Html.Hidden("Id", item.ID)
                                                        <input type="submit" class="btn btn-secondary m-2" value="刪除" />
                                                        @*<button type="button" class="btn btn-secondary m-2">刪除</button>*@
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>