@model  List<ICCModule.Entity.Tables.Platform.memberInventory>
@{
    ViewBag.Title = "InventoryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table > thead > tr th {
        text-align: center;
    }

    .table > thead > tr th,
    .table > tbody > tr td {
        word-break: keep-all;
        white-space: nowrap;
    }
    .table > tbody > tr td {
        background-color: white
    }

    .table-fixed {
        position: sticky;
        right: 0px;
    }
</style>

<div class="s-menu">
    <div class="container">
        <ul>
            <li><a href="~/Member/SignUp">會員註冊</a></li>
            <li><a href="~/PlantDoctor/Introduce">植醫掛號</a></li>
            <li><a href="~/Member/Manage">個人資料管理</a></li>
            <li><a href="~/PlantDoctor/RecordList">植醫輔導紀錄</a></li>
            <li><a href="~/Member/InventoryList">資材使用狀況</a></li>
            <li><a href="~/Member/Notify">疫情資訊訂閱</a></li>
        </ul>
    </div>
</div>

<section class="content bg-img">
    <div class="con-box">
        <div class="container">
            <div class="con-head">
                <div class="title d-flex justify-content-between pb-0 align-items-end">
                    <h3>
                        <span class="line">資材使用狀況</span>
                    </h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/Home/Index">首頁</a></li>
                            <li class="breadcrumb-item active" aria-current="page">資材使用狀況</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="con-body">
                <div class="card">
                    <div class="card-body">
                        <div class="mt-2">
                            <button class="btn btn-primary" type="button" onclick="location.href='/DiseasePrevention/PesticidesInfo'">新增農藥</button>
                        </div>
                        <div class="mt-3" style="overflow-x:auto">
                            <table class="table rwd-table-pesticidesInfo table-hover">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>許可證字號</th>
                                        <th>農藥中文名稱</th>
                                        <th>含量</th>
                                        <th>劑型</th>
                                        <th>商品名</th>
                                        <th>廠商</th>
                                        <th>許可證效期</th>
                                        <th class="d-block d-md-none">功能</th>
                                        <th class="d-none d-md-block table-fixed">功能</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@(item.LicenseWord)字<br />第@(item.LicenseNumber)號</td>
                                                <td>@item.ChineseName</td>
                                                <td>@item.Contents</td>
                                                <td>@item.DosageForm</td>
                                                <td>@item.BrandName</td>
                                                <td>@item.TradeName</td>
                                                <td>@item.ValidityPeriod</td>
                                                <td class="d-block d-md-none">
                                                    <div class="form-inline">
                                                        <button class="btn btn-default m-2" onclick="window.open('/Member/InventoryInfo?id=@item.LicenseNumber')"><i class="fas fa-external-link-alt mr-2"></i>查看農藥使用範圍</button>
                                                        @using (Html.BeginForm("InventoryDelete", "Member", FormMethod.Post, new { onclick = "return confirm('確定刪除?');" }))
                                                        {
                                                            @Html.AntiForgeryToken()
                                                            @Html.Hidden("Id", item.Id)
                                                            <input type="submit" class="btn btn-secondary m-2" value="刪除" />
                                                            @*<button type="button" class="btn btn-secondary m-2">刪除</button>*@
                                                        }
                                                    </div>
                                                </td>
                                                <td  class="d-none d-md-block table-fixed">
                                                    <div class="form-inline">
                                                        <button class="btn btn-default m-2" onclick="window.open('/Member/InventoryInfo?id=@item.LicenseNumber')"><i class="fas fa-external-link-alt mr-2"></i>查看農藥使用範圍</button>
                                                        @using (Html.BeginForm("InventoryDelete", "Member", FormMethod.Post, new { onclick = "return confirm('確定刪除?');" }))
                                                        {
                                                            @Html.AntiForgeryToken()
                                                            @Html.Hidden("Id", item.Id)
                                                            <input type="submit" class="btn btn-secondary m-2" value="刪除" />
                                                            @*<button type="button" class="btn btn-secondary m-2">刪除</button>*@
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

