@model InformationSystem.ViewModel.RecordShowModel
@{
    ViewBag.Title = "Record";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .lightblue {
        background-color: #dafff3 !important;
    }

    .table > thead > tr th,
    .table > tbody > tr th {
        word-break: keep-all;
        white-space: nowrap;
        vertical-align: middle;
        text-align: center;
    }

    input,
    select {
        min-width: 10em;
    }

        input[type=file] {
            min-width: 15em;
        }
</style>
@section Style {
    <style>
        .form-control.error {
            border-color: red;
            border-width: 2px;
            font-size: 1rem;
            width: 100%;
        }

        .form-inline .form-control.error {
            width: auto;
        }

        label.error {
            color: red;
            font-size: 14px;
        }

        .error-border {
            border-color: red;
            border-width: 2px;
        }
    </style>
}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-success">疫病蟲害監測管理-@(Model.Years > 1911 ? Model.Years - 1911 : Model.Years)年度-@(Model.ProjectName)@(Model.Months>0 ? $"-{Model.Months}月":"")</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-header py-3 bg-white">
                <form id="form" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="card-body">
                        <input type="hidden" name="mpaid" value="@Model.mpaid" />
                        <input type="hidden" name="Years" value="@Model.Years" />
                        <input type="hidden" name="Months" value="@Model.Months" />
                        <input type="hidden" name="ProjectName" value="@Model.ProjectName" />
                        <div class="table-responsive" style="overflow:auto">
                            @switch (Model.ProjectName)
                            {
                                case "小黃薊馬":
                                    <button id="btnContextNew" type="button" class="btn btn-danger" onclick="CloneRows();">新增</button>
                                    <input type="hidden" id="idTotalCount" value="@Model.Datas.Count" />
                                    <table class="table mb-0 table-striped" style="min-width:700px;">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">編號</th>
                                                <th scope="col">里別</th>
                                                <th scope="col">對應編號</th>
                                                <th scope="col">GPS-北緯</th>
                                                <th scope="col">GPS-東經</th>

                                                <th scope="col">日期</th>
                                                <th scope="col">害蟲數</th>
                                                <th scope="col">作物</th>
                                                <th scope="col">作物生長期</th>
                                                <th scope="col">備註</th>

                                                <th scope="col">溫度(度)</th>
                                                <th scope="col">日累積雨量(MM)</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="ContextBody">
                                            @{
                                                int i = 1;
                                                foreach (var itemData in Model.Datas)
                                                {
                                                    <tr class="contextRow">
                                                        <td id="itemNum">@i</td>
                                                        <td>
                                                            <input type="hidden" id="iptMapid" value="@itemData.ID" />
                                                            <input type="hidden" id="iptMapdid" value="@itemData.mapdID" />
                                                            <input type="text" class="form-control" id="iptVillage" value="@itemData.Village" />
                                                        </td>
                                                        <td><input type="text" class="form-control" id="iptSerialNum" value="@itemData.SerialNum" /></td>
                                                        <td><input type="text" class="form-control" id="iptNorthLatitude" value="@itemData.NorthLatitude" /></td>
                                                        <td><input type="text" class="form-control" id="iptEastLongitude" value="@itemData.EastLongitude" /></td>

                                                        <td><input type="date" class="form-control" id="iptDate" value="@(Model.Months>0 ? itemData.Date.ToString("yyyy-MM-dd") :"")" required title="日期為必填欄位" /></td>
                                                        <td><input type="number" step="0.01" min="0.01" class="form-control" id="iptPests" value="@itemData.Pests" /></td>
                                                        <td>
                                                            <div class="form-inline">
                                                                <select class="form-control mr-2" id="iptCropType" onchange="ChangeCropType($(this))">
                                                                    <option selected="@(itemData.CropType == 0)" value="">請選擇</option>
                                                                    @foreach (var item in Model.cropTypes.OrderBy(x => x.Sort).ThenBy(x => x.ID))
                                                                    {
                                                                        <option selected="@(item.ID == itemData.CropType)" value="@item.ID">@item.Name</option>
                                                                    }
                                                                </select>
                                                                <select class="form-control ml-2" id="iptCrops">
                                                                    <option selected="@(itemData.Crops == 0)" value="">請選擇</option>
                                                                    @{
                                                                        int _typeId = 0;
                                                                        if (Model.cropTypes.Any(x => x.ID == itemData.CropType)) { _typeId = itemData.CropType; }
                                                                        else if (Model.cropTypes.Any()) { _typeId = Model.cropTypes.OrderBy(x => x.Sort).ThenBy(x => x.ID).FirstOrDefault().ID; }
                                                                        foreach (var item in Model.cropDatas.Where(x => x.TypeID == _typeId).OrderBy(x => x.Sort).ThenBy(x => x.ID))
                                                                        {
                                                                            <option selected="@(item.ID == itemData.Crops)" value="@item.ID">@item.Name</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td><input type="text" class="form-control" id="iptCropGrowthPeriod" value="@itemData.CropGrowthPeriod" /></td>
                                                        <td><input type="text" class="form-control" id="iptMapdComment" value="@itemData.mapdComment" /></td>

                                                        <td><input type="text" class="form-control" id="iptTempeature" readonly="readonly" value="@itemData.Tempeature" /></td>
                                                        <td><input type="text" class="form-control" id="iptDailyRainfall" readonly="readonly" value="@itemData.DailyRainfall" /></td>
                                                        <td>
                                                            <a class="btn btn-danger delContext" style="word-break:keep-all">刪除</a>
                                                        </td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                            <tr id="cloneFlag" style="display:none;"></tr>
                                            <tr style="display:none;" class="contextCloneRow">
                                                <td id="itemNum">1</td>
                                                <td>
                                                    <input type="hidden" id="iptMapid" />
                                                    <input type="hidden" id="iptMapdid" />
                                                    <input type="text" class="form-control" id="iptVillage" />
                                                </td>
                                                <td><input type="text" class="form-control" id="iptSerialNum" /></td>
                                                <td><input type="text" class="form-control" id="iptNorthLatitude" /></td>
                                                <td><input type="text" class="form-control" id="iptEastLongitude" /></td>

                                                <td><input type="date" class="form-control" id="iptDate" required title="日期為必填欄位" /></td>
                                                <td><input type="number" step="0.01" min="0.01" class="form-control" id="iptPests" /></td>
                                                <td>
                                                    <div class="form-inline">
                                                        <select class="form-control mr-2" id="iptCropType" onchange="ChangeCropType($(this))">
                                                            <option value="">請選擇</option>
                                                            @foreach (var item in Model.cropTypes.OrderBy(x => x.Sort).ThenBy(x => x.ID))
                                                            {
                                                                <option value="@item.ID">@item.Name</option>
                                                            }
                                                        </select>
                                                        <select class="form-control ml-2" id="iptCrops">
                                                            <option value="">請選擇</option>
                                                            @*@foreach (var item in Model.cropDatas.Where(x => x.TypeID == Model.cropTypes.OrderBy(o => o.Sort).ThenBy(o => o.ID).FirstOrDefault()?.ID).OrderBy(x => x.Sort).ThenBy(x => x.ID))
                                                                {
                                                                    <option value="@item.ID">@item.Name</option>
                                                                }*@
                                                        </select>
                                                    </div>
                                                </td>
                                                <td><input type="text" class="form-control" id="iptCropGrowthPeriod" /></td>
                                                <td><input type="text" class="form-control" id="iptMapdComment" /></td>

                                                <td><input type="text" class="form-control" id="iptTempeature" readonly="readonly" /></td>
                                                <td><input type="text" class="form-control" id="iptDailyRainfall" readonly="readonly" /></td>
                                                <td>
                                                    <a class="btn btn-danger delContext" style="word-break:keep-all">刪除</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    break;
                                case "瓜實蠅":
                                case "東方果實蠅":
                                    <button id="btnContextNew" type="button" class="btn btn-danger" onclick="CloneRows();">新增</button>
                                    <input type="hidden" id="idTotalCount" value="@Model.Datas.Count" />
                                    <table class="table mb-0 table-striped" style="min-width:700px;">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">編號</th>
                                                <th scope="col">里別</th>
                                                <th scope="col">對應編號</th>
                                                <th scope="col">GPS-北緯</th>
                                                <th scope="col">GPS-東經</th>

                                                <th scope="col">日期</th>
                                                <th scope="col">害蟲數</th>
                                                <th scope="col">作物</th>
                                                <th scope="col">作物生長期</th>
                                                <th scope="col">監測情形紀錄區</th>
                                                <th scope="col">備註</th>

                                                <th scope="col">溫度(度)</th>
                                                <th scope="col">日累積雨量(MM)</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="ContextBody">
                                            @{
                                                int j = 1;
                                                foreach (var itemData in Model.Datas)
                                                {
                                                    <tr class="contextRow">
                                                        <td id="itemNum">@j</td>
                                                        <td>
                                                            <input type="hidden" id="iptMapid" value="@itemData.ID" />
                                                            <input type="hidden" id="iptMapdid" value="@itemData.mapdID" />
                                                            <input type="text" class="form-control" id="iptVillage" value="@itemData.Village" />
                                                        </td>
                                                        <td><input type="text" class="form-control" id="iptSerialNum" value="@itemData.SerialNum" /></td>
                                                        <td><input type="text" class="form-control" id="iptNorthLatitude" value="@itemData.NorthLatitude" /></td>
                                                        <td><input type="text" class="form-control" id="iptEastLongitude" value="@itemData.EastLongitude" /></td>

                                                        <td><input type="date" class="form-control" id="iptDate" value="@(Model.Months>0 ? itemData.Date.ToString("yyyy-MM-dd") :"")" required title="日期為必填欄位" /></td>
                                                        <td><input type="number" step="0.01" min="0.01" class="form-control" id="iptPests" value="@itemData.Pests" /></td>
                                                        <td>
                                                            <div class="form-inline">
                                                                <select class="form-control mr-2" id="iptCropType" onchange="ChangeCropType($(this))">
                                                                    <option selected="@(itemData.CropType == 0)" value="">請選擇</option>
                                                                    @foreach (var item in Model.cropTypes.OrderBy(x => x.Sort).ThenBy(x => x.ID))
                                                                    {
                                                                        <option selected="@(item.ID == itemData.CropType)" value="@item.ID">@item.Name</option>
                                                                    }
                                                                </select>
                                                                <select class="form-control ml-2" id="iptCrops">
                                                                    <option selected="@(itemData.Crops == 0)" value="">請選擇</option>
                                                                    @{
                                                                        int _typeId = 0;
                                                                        if (Model.cropTypes.Any(x => x.ID == itemData.CropType)) { _typeId = itemData.CropType; }
                                                                        else if (Model.cropTypes.Any()) { _typeId = Model.cropTypes.OrderBy(x => x.Sort).ThenBy(x => x.ID).FirstOrDefault().ID; }
                                                                        foreach (var item in Model.cropDatas.Where(x => x.TypeID == _typeId).OrderBy(x => x.Sort).ThenBy(x => x.ID))
                                                                        {
                                                                            <option selected="@(item.ID == itemData.Crops)" value="@item.ID">@item.Name</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td><input type="text" class="form-control" id="iptCropGrowthPeriod" value="@itemData.CropGrowthPeriod" /></td>
                                                        <td><input type="text" class="form-control" id="iptMonitoringRecord" value="@itemData.MonitoringRecord" /></td>
                                                        <td><input type="text" class="form-control" id="iptMapdComment" value="@itemData.mapdComment" /></td>

                                                        <td><input type="text" class="form-control" id="iptTempeature" readonly="readonly" value="@itemData.Tempeature" /></td>
                                                        <td><input type="text" class="form-control" id="iptDailyRainfall" readonly="readonly" value="@itemData.DailyRainfall" /></td>
                                                        <td>
                                                            <a class="btn btn-danger delContext" style="word-break:keep-all">刪除</a>
                                                        </td>
                                                    </tr>
                                                    j++;
                                                }
                                            }
                                            <tr id="cloneFlag" style="display:none;"></tr>
                                            <tr style="display:none;" class="contextCloneRow">
                                                <td id="itemNum">1</td>
                                                <td>
                                                    <input type="hidden" id="iptMapid" />
                                                    <input type="hidden" id="iptMapdid" />
                                                    <input type="text" class="form-control" id="iptVillage" />
                                                </td>
                                                <td><input type="text" class="form-control" id="iptSerialNum" /></td>
                                                <td><input type="text" class="form-control" id="iptNorthLatitude" /></td>
                                                <td><input type="text" class="form-control" id="iptEastLongitude" /></td>

                                                <td><input type="date" class="form-control" id="iptDate" required title="日期為必填欄位" /></td>
                                                <td><input type="number" step="0.01" min="0.01" class="form-control" id="iptPests" /></td>
                                                <td>
                                                    <div class="form-inline">
                                                        <select class="form-control mr-2" id="iptCropType" onchange="ChangeCropType($(this))">
                                                            <option value="">請選擇</option>
                                                            @foreach (var item in Model.cropTypes.OrderBy(x => x.Sort).ThenBy(x => x.ID))
                                                            {
                                                                <option value="@item.ID">@item.Name</option>
                                                            }
                                                        </select>
                                                        <select class="form-control ml-2" id="iptCrops">
                                                            <option value="">請選擇</option>
                                                            @*@foreach (var item in Model.cropDatas.Where(x => x.TypeID == Model.cropTypes.OrderBy(o => o.Sort).ThenBy(o => o.ID).FirstOrDefault()?.ID).OrderBy(x => x.Sort).ThenBy(x => x.ID))
                                                                {
                                                                    <option value="@item.ID">@item.Name</option>
                                                                }*@
                                                        </select>
                                                    </div>
                                                </td>
                                                <td><input type="text" class="form-control" id="iptCropGrowthPeriod" /></td>
                                                <td><input type="text" class="form-control" id="iptMonitoringRecord" /></td>
                                                <td><input type="text" class="form-control" id="iptMapdComment" /></td>

                                                <td><input type="text" class="form-control" id="iptTempeature" readonly="readonly" /></td>
                                                <td><input type="text" class="form-control" id="iptDailyRainfall" readonly="readonly" /></td>
                                                <td>
                                                    <a class="btn btn-danger delContext" style="word-break:keep-all">刪除</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    break;
                                case "秋行軍蟲田間巡查":
                                    <button id="btnContextNew" type="button" class="btn btn-danger" onclick="CloneRows();">新增</button>
                                    <input type="hidden" id="idTotalCount" value="@Model.Datas.Count" />
                                    <table class="table mb-0 table-striped" style="min-width:700px;">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">編號</th>
                                                <th scope="col">里別</th>
                                                <th scope="col">對應編號</th>
                                                <th scope="col">GPS-北緯</th>
                                                <th scope="col">GPS-東經</th>

                                                <th scope="col">日期</th>
                                                <th scope="col">調查株數</th>
                                                <th scope="col">受害株數</th>
                                                <th scope="col">受害率(受害/調查)</th>

                                                <th scope="col">作物</th>
                                                <th scope="col">作物生長期</th>
                                                <th scope="col">調查面積(公頃)</th>
                                                <th scope="col">周邊雜草<br />是否發現FAW</th>
                                                <th scope="col">受害程度(簡述)</th>
                                                <th scope="col">備註</th>

                                                <th scope="col">溫度(度)</th>
                                                <th scope="col">日累積雨量(MM)</th>
                                                <th scope="col">照片上傳</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="ContextBody">
                                            @{
                                                int k = 1;
                                                foreach (var itemData in Model.Datas)
                                                {
                                                    <tr class="contextRow">
                                                        <td id="itemNum">@k</td>
                                                        <td>
                                                            <input type="hidden" id="iptMapid" value="@itemData.ID" />
                                                            <input type="hidden" id="iptMapdid" value="@itemData.mapdID" />
                                                            <input type="text" class="form-control" id="iptVillage" value="@itemData.Village" />
                                                        </td>
                                                        <td><input type="text" class="form-control" id="iptSerialNum" value="@itemData.SerialNum" /></td>
                                                        <td><input type="text" class="form-control" id="iptNorthLatitude" value="@itemData.NorthLatitude" /></td>
                                                        <td><input type="text" class="form-control" id="iptEastLongitude" value="@itemData.EastLongitude" /></td>

                                                        <td><input type="date" class="form-control" id="iptDate" value="@(Model.Months>0 ? itemData.Date.ToString("yyyy-MM-dd") :"")" required title="日期為必填欄位" /></td>
                                                        <td><input type="number" class="form-control" id="iptSurveys" value="@itemData.Surveys" /></td>
                                                        <td><input type="number" class="form-control" id="iptVictims" value="@itemData.Victims" /></td>
                                                        <td>@(itemData.Surveys !=0 ? System.Math.Round((((decimal)itemData.Victims / (decimal)itemData.Surveys)*100), 2, MidpointRounding.AwayFromZero) : 0)%</td>

                                                        <td>
                                                            <div class="form-inline">
                                                                <select class="form-control mr-2" id="iptCropType" onchange="ChangeCropType($(this))">
                                                                    <option selected="@(itemData.CropType == 0)" value="">請選擇</option>
                                                                    @foreach (var item in Model.cropTypes.OrderBy(x => x.Sort).ThenBy(x => x.ID))
                                                                    {
                                                                        <option selected="@(item.ID == itemData.CropType)" value="@item.ID">@item.Name</option>
                                                                    }
                                                                </select>
                                                                <select class="form-control ml-2" id="iptCrops">
                                                                    <option selected="@(itemData.Crops == 0)" value="">請選擇</option>
                                                                    @{
                                                                        int _typeId = 0;
                                                                        if (Model.cropTypes.Any(x => x.ID == itemData.CropType)) { _typeId = itemData.CropType; }
                                                                        else if (Model.cropTypes.Any()) { _typeId = Model.cropTypes.OrderBy(x => x.Sort).ThenBy(x => x.ID).FirstOrDefault().ID; }
                                                                        foreach (var item in Model.cropDatas.Where(x => x.TypeID == _typeId).OrderBy(x => x.Sort).ThenBy(x => x.ID))
                                                                        {
                                                                            <option selected="@(item.ID == itemData.Crops)" value="@item.ID">@item.Name</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td><input type="text" class="form-control" id="iptCropGrowthPeriod" value="@itemData.CropGrowthPeriod" /></td>
                                                        <td><input type="text" class="form-control" id="iptSurveyArea" value="@itemData.SurveyArea" /></td>
                                                        <td>
                                                            <select class="form-control" id="iptDiscoverFAW">
                                                                <option value="false" selected="@(itemData.DiscoverFAW == false)">否</option>
                                                                <option value="true" selected="@(itemData.DiscoverFAW == true)">是</option>
                                                            </select>
                                                        </td>
                                                        <td><input type="text" class="form-control" id="iptDamageContent" value="@itemData.DamageContent" /></td>
                                                        <td><input type="text" class="form-control" id="iptMapdComment" value="@itemData.mapdComment" /></td>

                                                        <td><input type="text" class="form-control" id="iptTempeature" readonly="readonly" value="@itemData.Tempeature" /></td>
                                                        <td><input type="text" class="form-control" id="iptDailyRainfall" readonly="readonly" value="@itemData.DailyRainfall" /></td>
                                                        <td>
                                                            @foreach (var item in itemData.OldFiles)
                                                            {
                                                                <div id="of_@item.ID">
                                                                    <input type="hidden" value="@item.ID" id="of_@item.ID" class="hidOldId" />
                                                                    <a href="@item.FilePath" target="_blank">@item.FileName</a><a class="btn" onclick="DelFile('of_@item.ID')">x</a>
                                                                </div>
                                                            }
                                                            <input type="file" multiple class="form-control" id="iptPictureFiles" />
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-danger delContext" style="word-break:keep-all">刪除</a>
                                                        </td>
                                                    </tr>
                                                    k++;
                                                }
                                            }
                                            <tr id="cloneFlag" style="display:none;"></tr>
                                            <tr style="display:none;" class="contextCloneRow">
                                                <td id="itemNum">1</td>
                                                <td>
                                                    <input type="hidden" id="iptMapid" />
                                                    <input type="hidden" id="iptMapdid" />
                                                    <input type="text" class="form-control" id="iptVillage" />
                                                </td>
                                                <td><input type="text" class="form-control" id="iptSerialNum" /></td>
                                                <td><input type="text" class="form-control" id="iptNorthLatitude" /></td>
                                                <td><input type="text" class="form-control" id="iptEastLongitude" /></td>

                                                <td><input type="date" class="form-control" id="iptDate" required title="日期為必填欄位" /></td>
                                                <td><input type="number" class="form-control" id="iptSurveys" /></td>
                                                <td><input type="number" class="form-control" id="iptVictims" /></td>
                                                <td></td>

                                                <td>
                                                    <div class="form-inline">
                                                        <select class="form-control mr-2" id="iptCropType" onchange="ChangeCropType($(this))">
                                                            <option value="">請選擇</option>
                                                            @foreach (var item in Model.cropTypes.OrderBy(x => x.Sort).ThenBy(x => x.ID))
                                                            {
                                                                <option value="@item.ID">@item.Name</option>
                                                            }
                                                        </select>
                                                        <select class="form-control ml-2" id="iptCrops">
                                                            <option value="">請選擇</option>
                                                            @*@foreach (var item in Model.cropDatas.Where(x => x.TypeID == Model.cropTypes.OrderBy(o => o.Sort).ThenBy(o => o.ID).FirstOrDefault()?.ID).OrderBy(x => x.Sort).ThenBy(x => x.ID))
                                                                {
                                                                    <option value="@item.ID">@item.Name</option>
                                                                }*@
                                                        </select>
                                                    </div>
                                                </td>
                                                <td><input type="text" class="form-control" id="iptCropGrowthPeriod" /></td>
                                                <td><input type="text" class="form-control" id="iptSurveyArea" /></td>
                                                <td>
                                                    <select class="form-control" id="iptDiscoverFAW">
                                                        <option value="false">否</option>
                                                        <option value="true">是</option>
                                                    </select>
                                                </td>
                                                <td><input type="text" class="form-control" id="iptDamageContent" /></td>
                                                <td><input type="text" class="form-control" id="iptMapdComment" /></td>

                                                <td><input type="text" class="form-control" id="iptTempeature" readonly="readonly" /></td>
                                                <td><input type="text" class="form-control" id="iptDailyRainfall" readonly="readonly" /></td>
                                                <td><input type="file" multiple class="form-control" id="iptPictureFiles" /></td>
                                                <td>
                                                    <a class="btn btn-danger delContext" style="word-break:keep-all">刪除</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    break;
                                case "葉稻熱病":
                                    <button id="btnContextNew" type="button" class="btn btn-danger" onclick="CloneRows();">新增</button>
                                    <input type="hidden" id="idTotalCount" value="@Model.Datas.Count" />
                                    <table class="table mb-0 table-striped" style="min-width:700px;">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">編號</th>
                                                <th scope="col">里別</th>
                                                <th scope="col">對應編號</th>
                                                <th scope="col">GPS-北緯</th>
                                                <th scope="col">GPS-東經</th>
                                                <th scope="col">日期</th>

                                                <th scope="col">0級<br />發生面積(公頃)</th>
                                                <th scope="col">1級<br />發生面積(公頃)</th>
                                                <th scope="col">2級<br />發生面積(公頃)</th>
                                                <th scope="col">3級<br />發生面積(公頃)</th>
                                                <th scope="col">4級<br />發生面積(公頃)</th>
                                                <th scope="col">嚴重程度</th>
                                                <th scope="col">比例</th>

                                                <th scope="col">備註</th>
                                                <th scope="col">溫度(度)</th>
                                                <th scope="col">日累積雨量(MM)</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="ContextBody">
                                            @{
                                                int l = 1;
                                                foreach (var itemData in Model.Datas)
                                                {
                                                    <tr class="contextRow">
                                                        <td id="itemNum">@l</td>
                                                        <td>
                                                            <input type="hidden" id="iptMapid" value="@itemData.ID" />
                                                            <input type="hidden" id="iptMapdid" value="@itemData.mapdID" />
                                                            <input type="text" class="form-control" id="iptVillage" value="@itemData.Village" />
                                                        </td>
                                                        <td><input type="text" class="form-control" id="iptSerialNum" value="@itemData.SerialNum" /></td>
                                                        <td><input type="text" class="form-control" id="iptNorthLatitude" value="@itemData.NorthLatitude" /></td>
                                                        <td><input type="text" class="form-control" id="iptEastLongitude" value="@itemData.EastLongitude" /></td>
                                                        <td><input type="date" class="form-control" id="iptDate" value="@(Model.Months>0 ? itemData.Date.ToString("yyyy-MM-dd") :"")" required title="日期為必填欄位" /></td>

                                                        <td><input type="text" class="form-control" id="iptLevel_0" value="@itemData.Level_0" /></td>
                                                        <td><input type="text" class="form-control" id="iptLevel_1" value="@itemData.Level_1" /></td>
                                                        <td><input type="text" class="form-control" id="iptLevel_2" value="@itemData.Level_2" /></td>
                                                        <td><input type="text" class="form-control" id="iptLevel_3" value="@itemData.Level_3" /></td>
                                                        <td><input type="text" class="form-control" id="iptLevel_4" value="@itemData.Level_4" /></td>
                                                        <td>
                                                            @{
                                                                decimal v1 = itemData.Level_1;
                                                                decimal v2 = itemData.Level_2;
                                                                decimal v3 = itemData.Level_3;
                                                                decimal v4 = itemData.Level_4;
                                                                string lString = "";
                                                                if (v1 != 0 || v2 != 0 || v3 != 0 || v4 != 0)
                                                                {
                                                                    if (v4 >= v1 && v4 >= v2 && v4 >= v3) { lString = "4級"; }
                                                                    else if (v3 >= v1 && v3 >= v2 && v3 > v4) { lString = "3級"; }
                                                                    else if (v2 >= v1 && v2 > v3 && v2 > v4) { lString = "2級"; }
                                                                    else { lString = "1級"; }
                                                                }
                                                                else
                                                                {
                                                                    lString = "0級";
                                                                }
                                                            }
                                                            @lString
                                                        </td>
                                                        <td>
                                                            @{
                                                                decimal _scale = 0;
                                                                decimal vSum = itemData.Level_1 + itemData.Level_2 + itemData.Level_3 + itemData.Level_4;
                                                                decimal vTotal = itemData.Level_0 + itemData.Level_1 + itemData.Level_2 + itemData.Level_3 + itemData.Level_4;
                                                                if (vTotal > 0)
                                                                {
                                                                    _scale = (decimal)Math.Round((vSum / vTotal), 2, MidpointRounding.AwayFromZero);
                                                                }
                                                            }
                                                            @_scale
                                                        </td>

                                                        <td><input type="text" class="form-control" id="iptMapdComment" value="@itemData.mapdComment" /></td>
                                                        <td><input type="text" class="form-control" id="iptTempeature" readonly="readonly" value="@itemData.Tempeature" /></td>
                                                        <td><input type="text" class="form-control" id="iptDailyRainfall" readonly="readonly" value="@itemData.DailyRainfall" /></td>
                                                        <td>
                                                            <a class="btn btn-danger delContext" style="word-break:keep-all">刪除</a>
                                                        </td>
                                                    </tr>
                                                    l++;
                                                }
                                            }
                                            <tr id="cloneFlag" style="display:none;"></tr>
                                            <tr style="display:none;" class="contextCloneRow">
                                                <td id="itemNum">1</td>
                                                <td>
                                                    <input type="hidden" id="iptMapid" />
                                                    <input type="hidden" id="iptMapdid" />
                                                    <input type="text" class="form-control" id="iptVillage" />
                                                </td>
                                                <td><input type="text" class="form-control" id="iptSerialNum" /></td>
                                                <td><input type="text" class="form-control" id="iptNorthLatitude" /></td>
                                                <td><input type="text" class="form-control" id="iptEastLongitude" /></td>
                                                <td><input type="date" class="form-control" id="iptDate" required title="日期為必填欄位" /></td>

                                                <td><input type="text" class="form-control" id="iptLevel_0" /></td>
                                                <td><input type="text" class="form-control" id="iptLevel_1" /></td>
                                                <td><input type="text" class="form-control" id="iptLevel_2" /></td>
                                                <td><input type="text" class="form-control" id="iptLevel_3" /></td>
                                                <td><input type="text" class="form-control" id="iptLevel_4" /></td>
                                                <td></td>
                                                <td></td>

                                                <td><input type="text" class="form-control" id="iptMapdComment" /></td>
                                                <td><input type="text" class="form-control" id="iptTempeature" readonly="readonly" /></td>
                                                <td><input type="text" class="form-control" id="iptDailyRainfall" readonly="readonly" /></td>
                                                <td>
                                                    <a class="btn btn-danger delContext" style="word-break:keep-all">刪除</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    break;
                                case "穗稻熱病":
                                    <button id="btnContextNew" type="button" class="btn btn-danger" onclick="CloneRows();">新增</button>
                                    <input type="hidden" id="idTotalCount" value="@Model.Datas.Count" />
                                    <table class="table mb-0 table-striped" style="min-width:700px;">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">編號</th>
                                                <th scope="col">里別</th>
                                                <th scope="col">對應編號</th>
                                                <th scope="col">GPS-北緯</th>
                                                <th scope="col">GPS-東經</th>
                                                <th scope="col">日期</th>

                                                <th scope="col">0級<br />發生面積(公頃)</th>
                                                <th scope="col">1級<br />發生面積(公頃)</th>
                                                <th scope="col">2級<br />發生面積(公頃)</th>
                                                <th scope="col">3級<br />發生面積(公頃)</th>
                                                <th scope="col">嚴重程度</th>
                                                <th scope="col">比例</th>

                                                <th scope="col">備註</th>
                                                <th scope="col">溫度(度)</th>
                                                <th scope="col">日累積雨量(MM)</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="ContextBody">
                                            @{
                                                int wl = 1;
                                                foreach (var itemData in Model.Datas)
                                                {
                                                    <tr class="contextRow">
                                                        <td id="itemNum">@wl</td>
                                                        <td>
                                                            <input type="hidden" id="iptMapid" value="@itemData.ID" />
                                                            <input type="hidden" id="iptMapdid" value="@itemData.mapdID" />
                                                            <input type="text" class="form-control" id="iptVillage" value="@itemData.Village" />
                                                        </td>
                                                        <td><input type="text" class="form-control" id="iptSerialNum" value="@itemData.SerialNum" /></td>
                                                        <td><input type="text" class="form-control" id="iptNorthLatitude" value="@itemData.NorthLatitude" /></td>
                                                        <td><input type="text" class="form-control" id="iptEastLongitude" value="@itemData.EastLongitude" /></td>
                                                        <td><input type="date" class="form-control" id="iptDate" value="@(Model.Months>0 ? itemData.Date.ToString("yyyy-MM-dd") :"")" required title="日期為必填欄位" /></td>

                                                        <td><input type="text" class="form-control" id="iptLevel_0" value="@itemData.Level_0" /></td>
                                                        <td><input type="text" class="form-control" id="iptLevel_1" value="@itemData.Level_1" /></td>
                                                        <td><input type="text" class="form-control" id="iptLevel_2" value="@itemData.Level_2" /></td>
                                                        <td><input type="text" class="form-control" id="iptLevel_3" value="@itemData.Level_3" /></td>
                                                        <td>
                                                            @{
                                                                decimal v1 = itemData.Level_1;
                                                                decimal v2 = itemData.Level_2;
                                                                decimal v3 = itemData.Level_3;
                                                                string lString = "";
                                                                if (v1 != 0 || v2 != 0 || v3 != 0)
                                                                {
                                                                    if (v3 >= v1 && v3 >= v2) { lString = "3級"; }
                                                                    else if (v2 >= v1 && v2 > v3) { lString = "2級"; }
                                                                    else { lString = "1級"; }
                                                                }
                                                                else
                                                                {
                                                                    lString = "0級";
                                                                }
                                                            }
                                                            @lString
                                                        </td>
                                                        <td>
                                                            @{
                                                                decimal _scale = 0;
                                                                decimal vSum = itemData.Level_1 + itemData.Level_2 + itemData.Level_3;
                                                                decimal vTotal = itemData.Level_0 + itemData.Level_1 + itemData.Level_2 + itemData.Level_3;
                                                                if (vTotal > 0)
                                                                {
                                                                    _scale = (decimal)Math.Round((vSum / vTotal), 2, MidpointRounding.AwayFromZero);
                                                                }
                                                            }
                                                            @_scale
                                                        </td>

                                                        <td><input type="text" class="form-control" id="iptMapdComment" value="@itemData.mapdComment" /></td>
                                                        <td><input type="text" class="form-control" id="iptTempeature" readonly="readonly" value="@itemData.Tempeature" /></td>
                                                        <td><input type="text" class="form-control" id="iptDailyRainfall" readonly="readonly" value="@itemData.DailyRainfall" /></td>
                                                        <td>
                                                            <a class="btn btn-danger delContext" style="word-break:keep-all">刪除</a>
                                                        </td>
                                                    </tr>
                                                    wl++;
                                                }
                                            }
                                            <tr id="cloneFlag" style="display:none;"></tr>
                                            <tr style="display:none;" class="contextCloneRow">
                                                <td id="itemNum">1</td>
                                                <td>
                                                    <input type="hidden" id="iptMapid" />
                                                    <input type="hidden" id="iptMapdid" />
                                                    <input type="text" class="form-control" id="iptVillage" />
                                                </td>
                                                <td><input type="text" class="form-control" id="iptSerialNum" /></td>
                                                <td><input type="text" class="form-control" id="iptNorthLatitude" /></td>
                                                <td><input type="text" class="form-control" id="iptEastLongitude" /></td>
                                                <td><input type="date" class="form-control" id="iptDate" required="required" title="日期為必填欄位" /></td>

                                                <td><input type="text" class="form-control" id="iptLevel_0" /></td>
                                                <td><input type="text" class="form-control" id="iptLevel_1" /></td>
                                                <td><input type="text" class="form-control" id="iptLevel_2" /></td>
                                                <td><input type="text" class="form-control" id="iptLevel_3" /></td>
                                                <td></td>
                                                <td></td>

                                                <td><input type="text" class="form-control" id="iptMapdComment" /></td>
                                                <td><input type="text" class="form-control" id="iptTempeature" readonly="readonly" /></td>
                                                <td><input type="text" class="form-control" id="iptDailyRainfall" readonly="readonly" /></td>
                                                <td>
                                                    <a class="btn btn-danger delContext" style="word-break:keep-all">刪除</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    break;
                                case "琉璃蟻":
                                    <button id="btnContextNew" type="button" class="btn btn-danger" onclick="CloneRows();">新增</button>
                                    <input type="hidden" id="idTotalCount" value="@Model.Datas.Count" />
                                    <table class="table mb-0 table-striped" style="min-width:700px;">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">編號</th>
                                                <th scope="col">里別</th>
                                                <th scope="col">對應編號</th>
                                                <th scope="col">GPS-北緯</th>
                                                <th scope="col">GPS-東經</th>

                                                <th scope="col">日期</th>
                                                <th scope="col">害蟲數</th>
                                                <th scope="col">地址</th>
                                                <th scope="col">其他蟻種</th>
                                                <th scope="col">其他蟻種數量</th>
                                                <th scope="col">備註</th>

                                                <th scope="col">溫度(度)</th>
                                                <th scope="col">日累積雨量(MM)</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="ContextBody">
                                            @{
                                                int m = 1;
                                                foreach (var itemData in Model.Datas)
                                                {
                                                    <tr class="contextRow">
                                                        <td id="itemNum">@m</td>
                                                        <td>
                                                            <input type="hidden" id="iptMapid" value="@itemData.ID" />
                                                            <input type="hidden" id="iptMapdid" value="@itemData.mapdID" />
                                                            <input type="text" class="form-control" id="iptVillage" value="@itemData.Village" />
                                                        </td>
                                                        <td><input type="text" class="form-control" id="iptSerialNum" value="@itemData.SerialNum" /></td>
                                                        <td><input type="text" class="form-control" id="iptNorthLatitude" value="@itemData.NorthLatitude" /></td>
                                                        <td><input type="text" class="form-control" id="iptEastLongitude" value="@itemData.EastLongitude" /></td>

                                                        <td><input type="date" class="form-control" id="iptDate" value="@(Model.Months>0 ? itemData.Date.ToString("yyyy-MM-dd") :"")" required title="日期為必填欄位" /></td>
                                                        <td><input type="number" step="0.01" min="0.01" class="form-control" id="iptPests" value="@itemData.Pests" /></td>
                                                        <td><input type="text" class="form-control" id="iptAdress" value="@itemData.Adress" /></td>
                                                        <td><input type="text" class="form-control" id="iptOtherArts" value="@itemData.OtherArts" /></td>
                                                        <td><input type="number" step="0.01" min="0.01" class="form-control" id="iptOtherArtsNum" value="@itemData.OtherArtsNum" /></td>

                                                        <td><input type="text" class="form-control" id="iptMapdComment" value="@itemData.mapdComment" /></td>
                                                        <td><input type="text" class="form-control" id="iptTempeature" readonly="readonly" value="@itemData.Tempeature" /></td>
                                                        <td><input type="text" class="form-control" id="iptDailyRainfall" readonly="readonly" value="@itemData.DailyRainfall" /></td>
                                                        <td>
                                                            <a class="btn btn-danger delContext" style="word-break:keep-all">刪除</a>
                                                        </td>
                                                    </tr>
                                                    m++;
                                                }
                                            }
                                            <tr id="cloneFlag" style="display:none;"></tr>
                                            <tr style="display:none;" class="contextCloneRow">
                                                <td id="itemNum">1</td>
                                                <td>
                                                    <input type="hidden" id="iptMapid" />
                                                    <input type="hidden" id="iptMapdid" />
                                                    <input type="text" class="form-control" id="iptVillage" />
                                                </td>
                                                <td><input type="text" class="form-control" id="iptSerialNum" /></td>
                                                <td><input type="text" class="form-control" id="iptNorthLatitude" /></td>
                                                <td><input type="text" class="form-control" id="iptEastLongitude" /></td>

                                                <td><input type="date" class="form-control" id="iptDate" required title="日期為必填欄位" /></td>
                                                <td><input type="number" step="0.01" min="0.01" class="form-control" id="iptPests" /></td>
                                                <td><input type="text" class="form-control" id="iptAdress" /></td>
                                                <td><input type="text" class="form-control" id="iptOtherArts" /></td>
                                                <td><input type="number" step="0.01" min="0.01" class="form-control" id="iptOtherArtsNum" /></td>
                                                <td><input type="text" class="form-control" id="iptMapdComment" /></td>

                                                <td><input type="text" class="form-control" id="iptTempeature" readonly="readonly" /></td>
                                                <td><input type="text" class="form-control" id="iptDailyRainfall" readonly="readonly" /></td>
                                                <td>
                                                    <a class="btn btn-danger delContext" style="word-break:keep-all">刪除</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    break;
                            }

                        </div>
                        @{
                            if (Model.ProjectName == "葉稻熱病")
                            {
                                <div>
                                    級別說明：
                                    0 級：葉病斑面積率0%之發生面積(公頃)<br />
                                    1級：葉病斑面積率< 5%之發生面積(公頃)<br />
                                    2級：5%<=葉病斑面積率< 11%之發生面積(公頃)<br />
                                    3級：11%<=葉病斑面積率< 55%之發生面積(公頃)<br />
                                    4級：55%<=葉病斑面積率之發生面積(公頃)<br />
                                </div>
                            }
                            if (Model.ProjectName == "穗稻熱病")
                            {
                                <div>
                                    級別說明：<br />
                                    0 級：罹病穗率為0%之發生面積(公頃)<br />
                                    1級：罹病穗率< 5%之發生面積(公頃)<br />
                                    2級：5%<=罹病穗率< 20%之發生面積(公頃)<br />
                                    3級：20%<=罹病穗率之發生面積(公頃)<br />
                                </div>
                            }
                        }
                        <button id="btnContextNew" type="button" class="btn btn-danger" onclick="CloneRows();">新增</button>
                        <div class="form-inline" style="justify-content:center">
                            <button type="button" class="btn btn-primary m-2" onclick="window.history.back()">回上一頁</button>
                            <button type="button" class="btn btn-danger m-2" onclick="handleSubmit(event)">儲存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Script {
    <script>
        $(document).ready(function () {
            $('.delContext').click(function () {
                $(this).parent().parent().remove();
            });
        });
        function CloneRows() {
            var thisBr = $('.contextCloneRow');
            var nowCount = parseInt($('#idTotalCount').val()) + 1;
            thisBr.find('#itemNum').html(nowCount);
            $('#idTotalCount').val(nowCount);

            thisBr.clone().insertBefore($('#cloneFlag')).removeClass('contextCloneRow').addClass('contextRow').show();
            //$('.delContext').click(function () {
            //    $(this).parent().parent().remove();
            //});
        }
        function ChangeCropType(_selector) {
            var thisSelect = _selector;
            var changeSelector = thisSelect.parent().find('#iptCrops').each(function () {
                var _setSelectot = $(this);
                var newOption = [];
                newOption.push(new Option("請選擇", "", false))

                $.ajax({
                    url: "/PlantManager/GetCropDatas",
                    data: {
                        id: thisSelect.val()
                    },
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        for (let i of data) {
                            if (i.TypeID == thisSelect.val()) newOption.push(new Option(i.Name, i.ID, false));
                        }
                        _setSelectot.empty();
                        //抓取目標下拉選單
                        var s = _setSelectot[0];
                        //將剛才產生的選項陣列 塞入目標下拉選單中
                        newOption.forEach(function (element, key) {
                            s[s.options.length] = element;
                        });
                    }
                });
            });
        }
        function DelFile(id) {
            $('#' + id).html('');
        }
        function handleSubmit(e) {
            e.preventDefault();
            var validate = $("form").valid();
            if (validate) {
                var scCount = 0;
                $('#ContextBody').find('.contextRow').each(function () {
                    $(this).find('#iptMapid').each(function () { $(this).attr('name', 'Datas[' + scCount + '].ID') });
                    $(this).find('#iptMapdid').each(function () { $(this).attr('name', 'Datas[' + scCount + '].mapdID') });
                    $(this).find('#iptVillage').each(function () { $(this).attr('name', 'Datas[' + scCount + '].Village') });
                    $(this).find('#iptSerialNum').each(function () { $(this).attr('name', 'Datas[' + scCount + '].SerialNum') });
                    $(this).find('#iptNorthLatitude').each(function () { $(this).attr('name', 'Datas[' + scCount + '].NorthLatitude') });

                    $(this).find('#iptEastLongitude').each(function () { $(this).attr('name', 'Datas[' + scCount + '].EastLongitude') });
                    $(this).find('#iptCropType').each(function () { $(this).attr('name', 'Datas[' + scCount + '].CropType') });
                    $(this).find('#iptCrops').each(function () { $(this).attr('name', 'Datas[' + scCount + '].Crops') });
                    $(this).find('#iptDate').each(function () { $(this).attr('name', 'Datas[' + scCount + '].Date') });

                    $(this).find('#iptPests').each(function () { $(this).attr('name', 'Datas[' + scCount + '].Pests') });
                    $(this).find('#iptSurveys').each(function () { $(this).attr('name', 'Datas[' + scCount + '].Surveys') });
                    $(this).find('#iptVictims').each(function () { $(this).attr('name', 'Datas[' + scCount + '].Victims') });
                    $(this).find('#iptCropGrowthPeriod').each(function () { $(this).attr('name', 'Datas[' + scCount + '].CropGrowthPeriod') });
                    $(this).find('#iptSurveyArea').each(function () { $(this).attr('name', 'Datas[' + scCount + '].SurveyArea') });

                    $(this).find('#iptDiscoverFAW').each(function () { $(this).attr('name', 'Datas[' + scCount + '].DiscoverFAW') });
                    $(this).find('#iptDamageContent').each(function () { $(this).attr('name', 'Datas[' + scCount + '].DamageContent') });
                    $(this).find('#iptAdress').each(function () { $(this).attr('name', 'Datas[' + scCount + '].Adress') });
                    $(this).find('#iptOtherArts').each(function () { $(this).attr('name', 'Datas[' + scCount + '].OtherArts') });
                    $(this).find('#iptOtherArtsNum').each(function () { $(this).attr('name', 'Datas[' + scCount + '].OtherArtsNum') });

                    $(this).find('#iptTempeature').each(function () { $(this).attr('name', 'Datas[' + scCount + '].Tempeature') });
                    $(this).find('#iptLevel_0').each(function () { $(this).attr('name', 'Datas[' + scCount + '].Level_0') });
                    $(this).find('#iptLevel_1').each(function () { $(this).attr('name', 'Datas[' + scCount + '].Level_1') });
                    $(this).find('#iptLevel_2').each(function () { $(this).attr('name', 'Datas[' + scCount + '].Level_2') });
                    $(this).find('#iptLevel_3').each(function () { $(this).attr('name', 'Datas[' + scCount + '].Level_3') });

                    $(this).find('#iptLevel_4').each(function () { $(this).attr('name', 'Datas[' + scCount + '].Level_4') });
                    $(this).find('#iptMapdComment').each(function () { $(this).attr('name', 'Datas[' + scCount + '].mapdComment') });
                    $(this).find('#iptMonitoringRecord').each(function () { $(this).attr('name', 'Datas[' + scCount + '].MonitoringRecord') });
                    $(this).find('#iptDailyRainfall').each(function () { $(this).attr('name', 'Datas[' + scCount + '].DailyRainfall') });
                    $(this).find('#iptPictureFiles').each(function () { $(this).attr('name', 'Datas[' + scCount + '].PictureFiles') });
                    $(this).find('.hidOldId').each(function () { $(this).attr('name', 'Datas[' + scCount + '].EditFiles[]') });

                    scCount++;
                });
                var allDate = true;
                $('#ContextBody').find('.contextRow').each(function () {
                    var allDateInput = $(this).find('#iptDate');
                    allDateInput.each(function () {
                        var _date = $(this).val();
                        if (!_date) {
                            allDate = false;
                        }
                    });
                });
                if (scCount > 0 && allDate) {
                    console.log($('form').serializeArray())
                    document.getElementById('form').submit();
                }
            }
        }
        function validationNumbers(e, num) {
            var regu = /^\d+(\.\d+)?$/;
            var txtNum = e.val();
            if (txtNum != "") {
                if (!regu.test(e.val())) {
                    alert("請輸入正確的數字");
                    e.val('');
                    e.focus();
                } else {
                    if (num == 0) {
                        if (e.val().indexOf('.') > -1) {
                            e.val(e.val().substring(0, e.val().length - 1));
                            e.focus();
                        }
                    }
                    if (e.val().indexOf('.') > -1) {
                        if (e.val().split('.')[1].length > num) {
                            e.val(e.val().substring(0, e.val().length - (e.val().split('.')[1].length - num)));
                            e.focus();
                        }
                    }
                }
            }
        }
    </script>
}
<!-- 功能執行警示結果 -->
@{
    string strTempMsg = (TempData["TempMsg"] == null) ? "" : TempData["TempMsg"].ToString();
    TempData["TempMsg"] = null;
    //取代換行
    strTempMsg = strTempMsg.Replace("\r\n", " ");
    strTempMsg = strTempMsg.Replace("\n", " ");
}
<script type="text/javascript">
        var sMessage = "@strTempMsg";
        if (sMessage.length > 0) {
            setTimeout("alert(sMessage)", 500);
        }
</script>
