
@{
    ViewBag.Title = "LinkInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style {
    <style>

        .form-control.error {
            border-color: red;
            border-width: 2px;
            font-size: 1rem;
            width: 100%;
        }

        .form-inline .form-control.error {
            width: auto;
        }

        label.error {
            color: red;
            font-size: 14px;
        }

        .error-border {
            border-color: red;
            border-width: 2px;
        }
    </style>
}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-success">連結管理-新增</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <form id="form" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="card shadow mb-4">
                    <div class="card-header py-3 bg-white">
                        <div class="card-body">
                            <div class="table-responsive card">
                                <table class="table mb-0 no-border">
                                    <tr>
                                        <th style="width:25%">
                                            <span class="important">連結名稱：</span>
                                        </th>
                                        <td style="width:40%">
                                            <input type="text" name="Title" class="form-control" value="@Model.Title" required />
                                        </td>
                                        <th style="width:50%"></th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <span class="important">超連結：</span>
                                        </th>
                                        <td>
                                            <input type="url" name="Url" class="form-control" value="@Model.Url" required title="請輸入正確網址(例：https://xxx.xxx.xxx)"/>
                                        </td>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <span>選擇圖片：（建議上傳 長寬8:5圖片）</span>
                                        </th>
                                        <td>
                                            <div class="form-inline">
                                                <input name="file" type="file" class="form-control" style="flex:auto" accept="image/*" />
                                            </div>
                                        </td>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <span class="important">狀態：</span>
                                        </th>
                                        <td>
                                            <div class="form-inline">
                                                <label class="mr-2">
                                                    <input type="radio" class="form-control mr-2" name="Show" value="true" checked="@(Model.Show == true)" required />上架
                                                </label>
                                                <label class="mr-2">
                                                    <input type="radio" class="form-control mr-2" name="Show" value="false" checked="@(Model.Show == false)" required />下架
                                                </label>
                                            </div>
                                        </td>
                                        <th></th>
                                    </tr>
                                </table>
                            </div>
                            <div style="display:flex;justify-content:center">
                                <button type="button" class="btn btn-primary m-2" onclick="handleSubmit(event)">儲存</button>
                                <button type="button" class="btn btn-primary m-2" onclick="window.history.back()">回上一頁</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Script {
    <script type="text/javascript">
        function handleSubmit(e) {
            e.preventDefault();
            var validate = $("form").valid();
            if (validate) {
                console.log($('form').serializeArray())
                document.getElementById('form').submit();
            }
        }
    </script>
}

